body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  
  }
  .header {
    display: block;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    border: 5px solid #FFE4E1;
    text-align: justify;
  }
  .header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header-photo {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-left: 50px solid #ffe4e16f;
    border-right: 50px solid #ffe4e16f;
  }
  .header-information {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .header-name {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    background-color: #ffe4e16f;
  }
  .header-name > h1 {
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(71, 71, 71);
  }
  .header-name > h2 {
    margin-top: -20px;
    font-size: 40px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #5b5a5b;
  }
  .nav-header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    list-style: none;
    background-color: #ffe4e16f;
  }
  .nav-link {
    padding-right: 30px;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #5b5a5b;
  }
  .header-item:hover {
    transform: scale(1.2);
    transition: 1s;
  }
  .main-my_content {
    position: relative;
    width: 100%;
    display: flex;
  }
  main {
    display: block;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .main-about {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-color: #ffe4e16f;
  }
  .main-about > h2 {
    margin: 20px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(71, 71, 71)
  }
  .main-about > p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #5b5a5b;
  }
  .nav-main > h3 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(71, 71, 71)
  }
  .nav-main-list {
    margin: 0px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #5b5a5b;
  }
  .text {
    font-weight: bold;
  }
  .skills-code {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border-bottom: 5px solid #FFE4E1;
    border-top: 5px solid #FFE4E1;;
  }
  .skills {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    border-right: 5px solid #FFE4E1;
    
  }
  .skills > h2 {
    margin: 40px 20px 10px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(71, 71, 71)
  }
  .skills-list {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #5b5a5b;
  }
  .hard-skills,
  .soft-skills {
    margin-left: 20px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 50px;
    list-style: none;
    font-size: 33px;
    padding: 0px;
  }
  .lang {
    margin-left: 40px;
    margin-top: 0px;
    line-height: 35px;
    font-size: 25px;
  }
  .soft-skills > li::before {
    content: "â­";
  }
  .name-hard,
  .name-soft {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid #5b5a5b;
  }
  .name-hard {
    margin-top: 0px;
  }
  .name-soft {
    margin-top: 40px;
  }
  .code-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects > h2 {
    margin: 200px 20px 70px 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(71, 71, 71)
  }
  .code {
    width: 100%;
  
  }
  .code > h2 {
    margin: 40px 20px 70px 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(71, 71, 71)
  }
  code {
    font-size: 30px;
  }
  .span-violet {
    color: #7d5acde7;
  }
  .span-orange {
    color: #b35a31;
  }
  .span-green {
    color: #7e8e23;
  }
  .span-white {
    color: white;
  }
  .code-container{
    width: 90%;
    margin: 40px 20px 40px 45px;
    padding: 30px 30px;
    background-color: rgba(34, 31, 31, 0.897);
  }
  .projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .projects > a {
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #5b5a5b;
  }
  .projects > a:hover {
    transform: scale(1.2);
    transition: 1s;
  }
  .projects > img {
    margin: -50px 0px 20px 60px;
    border: 2px solid rgba(34, 31, 31, 0.897);
  }
  .contacts > h2 {
    margin: 20px 0px 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(71, 71, 71)
  }
  .contacts-list {
    display: flex;
    justify-content:space-around;
    margin: 30px 30px 30px 30px;
    padding: 0px;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #5b5a5b;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffe4e16f;
    
  }
  .footer-github,
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-github > a {
    font-size: 50px;
    text-decoration: none;
    color: #5b5a5b;
  }
  .footer-year > p {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5b5a5b;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }