body{
    background-color: aqua;
}

.keyboard{
    width: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.key, .back, .quote{
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

div{
    .key{
        width: 50px;
        height: 50px;
    }
    .quote{
        width: 35px;
    }
    .back{
        width: 114px;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }

}

.active{
    background-color: aliceblue;
}



        
                 
