body{
    background-color: aqua;
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.keyboard{
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.key, .back, .quote, .tab, .slash, .caps, .enter, .shiftLeft, .shiftRight, .ctrl, .fn, .win, .alt, .space{
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

div{
    .key{
        width: 60px;
        height: 60px;
    }
    .quote{
        width: 45px;
    }
    .back{
        width: 116px;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }
    .tab{
        width: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
    }
    .slash{
        width: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }
    .caps{
        width: 105px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
    }
    .enter{
        width: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }
    .shiftLeft{
        width: 155px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .shiftRight{
        width: 155px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .space{
        width: 398px;
    }
    .last{
        display: flex;
    }
    .arrow{
        display: grid;
        grid-template-areas: 'left up up'
                        'left down right';
        .key.left{
            grid-area: left;
        }
        .key.up{
            grid-area: up;
            height: 23px;
        }
        .key.down{
            grid-area: down;
            height: 23px;
        }
        .key.right{
            grid-area: right;
            margin-top: -34px;
        }
    }

}
.lastString{
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.active{
    background-color: aliceblue;
}



        
                 
